<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이용후기내역 | re:flex</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Monoton|Permanent+Marker|Righteous|Seymour+One|Stalinist+One&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet"> <!-- 부트스트랩 -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mypage.css" rel="stylesheet">
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</head>
<body>
        

        <div class="container-fluid">
                <div class="row"><p class="col-md-12"><br><br><br><br></p></div>
                <div class="row">
                    <p class="col-md-2"></p>
                    <h1 class="col-md-3">
                        1:1문의 답변 등록
                    </h1> 
                </div>
            </div>

    <style>
    .qna-title{
        padding: 20px;
    }
    .qna-writer{

        padding: 20px;
    }
    #qna-content{
        padding-left: 20px;

    }
    .qna-textarea{
        padding-left: 20px;
        padding-right: 20px;

    }
    #qna-answer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .qna-answer-textarea{
        padding-left: 20px;
        padding-right: 20px;
    }
    .qna-btn{
        text-align: center;
        padding:10px;
    }
   
    </style>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"><br><br></div>
            <div class="col-md-4"></div>
            <div class="form-group">
                <table style="border: 1px solid;" id="member-qna-answer-tbl">
                    <tr>
                        <td id="tbl" class="qna-title">
                            <label for="">문의 제목</label>
                            <input style="margin-left: 15px;" type="text" value="배송이 언제 올까요" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="qna-writer">
                            <label for="">작성자</label>
                            <input style="margin-left: 33px;" type="text" value="gkkgowd91" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-md-12"><br><br></div>
                            <label for="" id="qna-content">문의내용</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qna-textarea">
                            <textarea name="" id="" cols="70" rows="5" readonly>제가 12월 15일에 렌탈주문 했는데 아직 배송준비중이네요..</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-md-12"><br><br></div>
                            <label for="" id="qna-answer">답변</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qna-answer-textarea">
                            <textarea name="" id="" cols="70" rows="2">답변을 작성하세요</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="qna-btn">
                            <button type="submit" class="btn btn-default" id="member-qna-okbtn">등록</button>
                            <button type="submit" class="btn btn-default" id="member-qna-canclebtn">취소</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>





</body>
</html>