<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>re:flex</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"> <!-- 부트스트랩 -->
    <link href="css/style.css" rel="stylesheet">
   
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
    <style>
    .itemTitle{
        height: 46px;
        font-weight: bold;
    }
    .height-45{
        height: 45px;
    }

    .m-0{
        margin: 0px !important;
    }
    .padding-left-25{
        padding-left: 25px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    .no-round-border{
        border-radius: 0;
    }
    .no-margin{
        margin: 0;
    }
    </style>
</head>
<body>
    
        <header class="container-fluid navbar-fixed-top">
            
                <!-- first line -->
                <div id="header-first" class="row">
                    <div id="logo" class="col-md-4">
                            <h1><a href="admin_header.html">re:flex</a></h1>
                    </div>
                    <div id="search" class="col-md-4">
                        <h2 class="sr-only">상품 검색</h2>
                        <form action="">
                            <button type="submit" id="btn-search" aria-label="search products">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <input type="search" name="search" placeholder="검색">
                        </form>
                    </div>
                    <div id="header-first-menu" class="col-md-4">
                        <ul class="list-unstyled list-inline text-right">
                            <li><a href="#">관리인</a></li>
                            <li>
                                <h2 class="sr-only">장바구니</h2>
                                <a href="#" aria-label="cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                        <!-- side menu -->
                        <div>
                            <h2 class="sr-only">사이드메뉴</h2>
                            <button type="button"  id="btn-sidemenu">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </button>
                            <ul id="level1-sidemenu" class="list-unstyled sidemenu">
                                <li></li>
                                <li id="recommended" data-target="#level2-recommended"><a href="#">이럴 때 빌려봐<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">패션<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">뷰티<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">리빙<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">키즈<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">레저<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">고객서비스</a></li>
                            </ul>
                            <ul id="level2-recommended" class="list-unstyled sidemenu">
                                <li class="go-back text-center"><a href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>이럴 때 빌려봐</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        
                <!-- 2 line -->
                <nav id="header-second" class="line-style">
                    <h2 class="sr-only">메인메뉴</h2>
                    <ul class="list-unstyled list-inline">
                        <li><a href="admin_item.html">상품관리</a></li>
                        <li><a href="admin_order.html">주문관리</a></li>
                        <li><a href="admin_member.html">회원관리</a></li>
                    </ul>
                </nav>

            </header>

            
            <!-- 메인 컨텐츠 -->
            <div class="container-fluid contents">
                <!-- 상품수정 - 메뉴제목 -->
                <div class="row itemTitle">
                    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 side-border">
                        <h3>상품 정보 수정</h3>
                    </div>
                </div>

                <!-- 빈줄 하나 -->
                <div class="row height-45"></div>

                <!-- 상품수정 폼 -->
                <form action="" class="p-0 col-md-8 col-sm-8 col-xs-8 col-md-offset-2">
                    <!-- 상품수정 - 카테고리 -->
                    <div class="container-fluid" id="category">
                        <div class="subtitle border-all height-45" >
                            <h4>카테고리</h4>
                        </div>
                        <div class="container-fluid border-no-top">
                            <label class="checkbox-inline col-md-4 m-0 padding-left-25">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> 반려동물과 함께할 때
                            </label>
                        
                            <label class="checkbox-inline col-md-4 m-0 padding-left-25 border-side">
                                <input type="checkbox" id="inlineCheckbox2" value="option2" checked> 육아할 때
                            </label>

                            <label class="checkbox-inline col-md-4 m-0 padding-left-25">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> 행사, 파티할 때
                            </label>
                        
                            <label class="checkbox-inline col-md-4 m-0 padding-left-25 border-top">
                                    <input type="checkbox" id="inlineCheckbox1" value="option4"> 운동할 때
                            </label>

                            <label class="checkbox-inline col-md-4 m-0 padding-left-25 border-side border-top">
                                <input type="checkbox" id="inlineCheckbox2" value="option5"> 여행갈 때
                            </label>

                            <label class="checkbox-inline col-md-4 m-0 padding-left-25 border-top">
                                <input type="checkbox" id="inlineCheckbox3" value="option6"> 캠핑갈 때
                            </label>
                        </div>
                    </div>

                    <div class="row height-45 border-side"></div>

                    <!-- 상품수정 - 상품명 -->
                    <div class="container-fluid" id="item-name">
                            <div class="subtitle border-all height-45" >
                                <h4>상품명</h4>
                            </div>
                            <div class="container-fluid border-no-top height-45">
                                <input type="text" class="form-control shadow-none no-round-border height-45" id="inputItemName" placeholder="상품명을 입력하세요" value="유모차">
                            </div>
                    </div>

                    <div class="row height-45 border-side"></div>

                    <!-- 상품수정 - 상품가격 -->
                    <div class="container-fluid" id="item-name">
                        <div class="subtitle border-all height-45" >
                            <h4>상품가격</h4>
                        </div>
                        <div class="form-group border-no-top height-45 no-margin">
                            <div class="input-group height-45">
                                <div class="input-group-addon no-round-border"><div class="glyphicon glyphicon-usd"></div></div>
                                <input type="text" class="form-control shadow-none no-round-border height-45" id="exampleInputAmount" placeholder="상품가격을 입력하세요" value="138000">
                                <div class="input-group-addon no-round-border no-margin">원</div>
                            </div>
                        </div>
                    </div>

                    <div class="row height-45 border-side"></div>
                    
                    <!-- 상품수정 - 상품수량 -->
                    <div class="container-fluid" id="item-name">
                        <div class="subtitle border-all height-45" >
                            <h4>상품수량</h4>
                        </div>
                        <div class="container-fluid border-no-top height-45">
                            <input type="number" class="form-control shadow-none no-round-border height-45" id="inputItemCount" placeholder="상품수량을 입력하세요" value="20">
                        </div>
                    </div>
                    
                    <div class="row height-45 border-side"></div>

                    <!-- 상품수정 - 이미지등록 -->
                    <div class="container-fluid" id="item-name">
                        <div class="subtitle border-all height-45" >
                            <h4>이미지등록</h4>
                        </div>
                        <div class="row container-fluid border-no-top height-45">
                            <div class="subtitle col-md-6">메인이미지</div>
                            <input type="file" class="shadow-none no-round-border height-45 col-md-6" id="inputItemImage">
                        </div>
                        <div class="row container-fluid border-no-top height-45">
                            <div class="subtitle col-md-6">서브이미지</div>
                            <input type="file" class="shadow-none no-round-border height-45 col-md-6" id="inputItemImage">
                        </div>
                        <div class="row container-fluid border-no-top height-45">
                            <div class="subtitle col-md-6">상세이미지</div>
                            <input type="file" class="shadow-none no-round-border height-45 col-md-6" id="inputItemImage">
                        </div>  
                    </div>

                    <!-- 상품수정 - 제출버튼 -->
                    <div class="container-fluid text-right" id="item-submit">
                        <button type="submit" class="btn btn-default col-md-offset-10 col-md-2">상품 수정</button>
                    </div>

                </form>


            </div>


</body>
</html>