<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>re:flex</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"> <!-- 부트스트랩 -->
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row"><p class="col-md-12"><br><br><br><br></p></div>
        <div class="row">
            <p class="col-md-2"></p>
            <h1 class="col-md-3">
                렌탈내역
            </h1> 
        </div>
    </div>


    <!-- 렌탈현황 검색창 -->
    <div class="container-fluid">
            <div class="row"><p class="col-md-12 col-xs-2"><br></p></div>
        <div class="row">
            <p class="col-md-4 col-xs-2">&nbsp;</p>
            <!-- 배송검색창 폼 -->
            <form id="order-srchForm" class="form-inline">
                <div class="form-group">
                    <select id="order-form-select" class="form-control">
                        <option value="userId" selected>회원 아이디</option>
                        <option value="buyerPhone">연락처</option>
                        <option value="orderItemNo">상품번호</option>
                        <option value="itemName">상품명</option>
                    </select>
                    <input style="margin-right: 10px;" type="text" class="form-control" id="order-form-srch" placeholder="검색어를 입력하세요">
                    <button type="submit" class="btn btn-default" id="order-form-btn">검색</button>
                </div>
            </form>
            <p class="col-md-12"><br></p>
        </div>
    </div>
    <!-- 렌탈현황 검색창 끝-->

   
      
    <!-- 렌탈현황 테이블 -->
    <div class="container-fluid">
        <div class="row">
            <p class="col-md-12 col-xs-2"><br><br><br></p>
            <p class="col-md-2 col-xs-2"></p>
            <div class="col-md-8">
                <table class="table" id="order-rent-tbl">
                    <thead>
                        <tr>
                            <th>주문번호</th>								
                            <th>상품번호</th>								
                            <th>회원아이디</th>								
                            <th>상품이름</th>								
                            <th>상품가격</th>								
                            <th>상품수량</th>								
                            <th>주문상태</th>								
                            <th>렌탈기간</th>								
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>51</td>								
                            <td><a href="#">122943</a> </td>								
                            <td><a href="#">gkwls4854</a> </td>								
                            <td><a href="#">유모차</a></td>								
                            <td>  138,000 </th>								
                            <td>1</td>								
                            <td> 주문완료</td>								
                            <td> 2019/12/12 ~ 2020/3/12</td>								
                        </tr>
                        <tr>
                            <td>52</td>								
                            <td><a href="#">493212</a></td>		
                            <td><a href="#">qoisd9382</a> </td>							
                            <td><a href="#">카메라</a></td>								
                            <td>  536,000 </th>								
                            <td>1</td>								
                            <td> 배송완료</td>								
                            <td> 2019/03/12 ~ 2020/3/12</td>	
                        </tr>
                        <tr>
                            <td>53</td>								
                            <td><a href="#">232891</a></td>	
                            <td><a href="#">bviiwu81</a> </td>								
                            <td><a href="#">TV</a></td>								
                            <td>  1,138,000 </th>								
                            <td>1</td>								
                            <td> 배송중</td>								
                            <td> 2019/12/15 ~ 2020/6/12</td>	
                        </tr>
                        <tr>
                            <td>54</td>								
                            <td><a href="#">449212</a></td>
                            <td><a href="#">ibodk02</a> </td>									
                            <td><a href="#">캐리어</a></td>								
                            <td>  58,000 </th>								
                            <td>1</td>								
                            <td> 배송준비중</td>								
                            <td> 2019/12/12 ~ 2020/3/12</td>	
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="col-md-2 col-xs-2 "></p>
        </div>
    </div> 
    <!-- 렌탈현황 테이블 끝 -->


</body>
</html>